/* MIA-TODAY */

body{
  font-family: MiaGrotesk-Light;
  font-weight:300;
  color:#232323;
  background-color: #fff;
  overflow-x:hidden;
  width: 90%;
  margin: 1em auto;
  font-size: 2em;
}
@media screen and (min-width:60em) {
  body {
    font-size: 4em;
    overflow: hidden;
  }
}

/*#pulse{width:100%;height:100%;background:rgba(129,41,144,0.3);margin:0 auto;padding:0;overflow:visible;}*/

/* =Clearfix (all browsers)
--------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child+html .clearfix {min-height: 1px;}

li{
  display:block;
  padding: 0.1em 0 1em 0;
  border-top: 3px solid #232323;
  font-size: 80%;
  page-break-before: always;
}

li:nth-child(n+6) {
  display: none;
}

li h3 {
  /* font-size: 3.1em; */
  margin-bottom: 0.1em;
}

li h3 a {
  color:#232323;
  text-decoration:none;
  margin:0;
  font-family: MiaGrotesk-Bold;
}

li p {
  margin:0;
  padding:0;
  font-weight:600;
  /* font-size: 2.5em; */
}

li p span.time{
  display: block;
  font-family: MiaGrotesk-Regular;
  margin-top: 0.1em;
}

li.now, li.future {
  background: rgba(255, 255, 255, 0.9);
}

li.past {
  opacity: 0.7;
  /* background: rgba(255, 255, 255, 0.7); */
}

h1 {
  box-sizing: border-box;
  background-size: 49%;
  font-weight:500;
  z-index: 5;
  font-family: MiaGrotesk-Black;
  font-size: 2em;
}

#closed #hours {
  margin: 0;
  margin-bottom: 0.5em;
}

li.art-out-of-the-box, li.art-in-the-park {
  display: none;
}

#hours {
  margin: 1em 0;
}
