/* MIA-TODAY */

body{
  font-family: "MiaGrotesk-Light","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight:300;
  color:#222;
  background-color: #fff;
  overflow-x:hidden;
}

/*#pulse{width:100%;height:100%;background:rgba(129,41,144,0.3);margin:0 auto;padding:0;overflow:visible;}*/

/* =Clearfix (all browsers)
--------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child+html .clearfix {min-height: 1px;}

/***  event colors  ***/

.film-performance{
  border-color:#812990;
}

.special-event, .special-events {
  border-color:#ed1d24;
}

.lecture-seminar, .lectures-and-seminars {
  border-color:#00aeef;
}

.class{
  border-color:#ec008c;
}

.tour, .tours{
  border-color:#00b48d;
}

.exhibition{
  border-color:#000000;
}

.family-event{
  border-color:#f58220;
}

/***  brand colors  ***/

.red {
  color: #b7121a;
}

.orange {
  color: #ff9900;
}

.gold {
  color: #fecc2e;
}

.dkorange {
  color: #ff6600;
}

.dkgreen {
  color: #298658;
}

.blue {
  color: #1788a3;
}

.ltgreen {
  color: #a3c380;
}

ul{}

li{
  display:block;
  padding:2em;
  margin: 1em;
  border-top:15px solid #000;
  background: rgba(255,255,255,.9);
  color:#222;
}

li h3 {
  margin-bottom:20px;
  font-size: 3.1em;
}

li h3 a{
  font-weight:400;
  color:#222;
  text-decoration:none;
  margin:0;
  text-transform:uppercase;
}



li p {
  margin:0;
  padding:0;
  font-weight:600;
  font-size: 1.5em;
}

li p span.circ {
  border-radius:50%;
  text-align: center;
  width:4.25em;
  height:4.25em;
  float:right;
  display:inline-block;
  background-color:#222;
}

li p span.time{
  /*color:#ed1d24;*/
  color:#fff;
  display:inline-block;
  padding-top:23px;
  font-weight:600;
  font-size:1.5em;
  line-height:0.85em;
}

li div.starts{
  float:right;
  padding:0.35em 0.5em;
  border:3px solid #666;
  display:inline-block;
  margin-top:15px;
  font-size: 1.5em;
}
li div.line{
  float:right;
  border-top:3px solid #666;
  display:inline-block;
  margin-top:30px;
  width:30px;
}

body > #bed * {
  /* background-size: cover; */
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 33%;
}

#bed #one {
  background-image: url(../patterns/grille-black.svg);
  background-color: #333;
  z-index: 1;
}

#bed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes opacity {
  0% { -webkit-filter: invert(0%) blur(0); }
  35% { -webkit-filter: blur(0); }
  40% { -webkit-filter: invert(0%) blur(0) }
  45% { -webkit-filter: blur(1px); }
  50% { -webkit-filter: invert(88%) blur(0); }
  90% { -webkit-filter: invert(88%) blur(0); }
  95% { -webkit-filter: invert(10%) blur(1px); }
}

#bed *, h1 {
  animation-name: opacity;
  /* -webkit-animation-name: opacity; */
  animation-timing-function: ease-in-out;
  /* -webkit-animation-timing-function: ease-in-out; */
  animation-iteration-count: infinite;
  /* -webkit-animation-iteration-count: infinite; */
  animation-duration: 345s;
  /* -webkit-animation-duration: 345s; */
  animation-delay: -333s;
}

ul {
  margin:1em auto;
  width: 90%;
  z-index: 11;
  position: fixed;
  bottom: 1%;
  left: 5%;
}

li.now, li.future {
  background: rgba(255, 255, 255, 0.9);
}

li.past {
  opacity: 0.7;
  /* background: rgba(255, 255, 255, 0.7); */
}

h1 {
  box-sizing: border-box;
  font-size: 600%;
  font-weight:500;
  z-index: 5;
  color: white;
  width: 100%;
  position: relative;
  top: 0.75em;
  left: 0;
  text-align: center;
  padding: 0.15em;
  background: url(../today.svg) no-repeat 20% 50%;
  text-indent: 6.5em;
}

aside#closed {
  z-index: 100;
  position: absolute;
  top: 15%;
  font-size: 5em;
  text-align: center;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.busy {
  left: 5%;
  position: absolute;
  top: 15%;
  width: 90%;
  overflow-y: hidden;
}

li.art-out-of-the-box, li.art-in-the-park {
  display: none;
}
